@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@400&display=swap');

:root {
  /* colors */
  --color: #ffffff;
  --bg-color: #1e2531;

  /* fonts */
  --monospace: 'Anonymous Pro', menlo, courier, inconsolata, monospace;
  --sans-serif: 'Poppins', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
  font-family: var(--monospace);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

p {
  font-family: var(--sans-serif);
  font-weight: 400;
  opacity: 0.5;
}

a {
  color: inherit;
}

code {
  font-family: var(--monospace);
  font-size: calc(1em - 2px);
  color: var(--color);
  background-color: #f0f0f005;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
