@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@400&display=swap');

:root {
  /* colors */
  --color: #ffffff;
  --bg-color: #1e2531;
  --green: #49ea6c;
  --yellow: #ebc748;
  --red: #ef4646;

  /* breakpoints */
  --wide-wrap: 1080px;
  --narrow-wrap: 890px;

  /* fonts */
  --monospace: 'Anonymous Pro', menlo, courier, inconsolata, monospace;
  --sans-serif: 'Poppins', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--monospace);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

p,
ul {
  font-family: var(--sans-serif);
  font-weight: 400;
  opacity: 0.65;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

span.page p {
  line-height: 2;
}

span.page a {
  opacity: 1;
  text-decoration: underline;
}

code {
  font-family: var(--monospace);
  font-size: calc(1em - 2px);
  color: var(--color);
  background-color: #f0f0f005;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
